html,
body {
  height: 100%;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Noto Sans TC';
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #282328;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 0.5pt;
  text-transform: uppercase;
}

p {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #282328;
  line-height: 1.375rem;
  margin-bottom: 2rem;
}

p span {
  font-weight: 600;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #282328;
  text-decoration: none;
}

.a-underlined-link {
  border-bottom: 1px solid #C4C3C4;
  text-decoration: none;
}

.a-underlined-link:hover,
.a-underlined-link:focus {
  border-bottom: 1px solid #282328;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.work-inner ul {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
}

.work-inner li {
  padding-bottom: 1rem;
}

figure {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

figure img {
  width: 100%;
  height: auto;
}

figure p {
  margin-top: 1rem;
}

/*------------------------  Helper css  ------------------------*/
.body-pad {
  padding: 0 40px;
}

.spad {
  padding: 100px 0;
}

.pt100 {
  padding-top: 100px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/*---------------------  Common Elements  ---------------------*/
.element {
  margin-bottom: 100px;
}

.element:last-child {
  margin-bottom: 0;
}

.em-link {
  color: #F32F17;
  text-decoration: none;
}

.em-link:hover {
  border-bottom: 1px solid #F32F17;
  color: #F32F17;
  text-decoration: none;
}

.gray-text {
  color: #898789;
}

.gray-text:hover {
  color: #898789;
}

.inverse-text {
  color: #fff;
}

.em-text {
  color: #F32F17;
}

.gray-border {
  border-bottom: 1px solid #ebebeb;
}

.dark-border {
  margin-bottom: 1rem;
  border-bottom: 4px solid #282328;
}

.box-shadow {
  box-shadow: 1px 4px 12px rgba(0, 0, 0, .1);
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-6 {
  margin-bottom: 6rem;
}

/*===================  Preloder  ===================*/
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*===================   Buttons  ===================*/
.site-btn {
  display: inline-block;
  font-size: 14px;
  min-width: 140px;
  text-align: center;
  padding: 15px 10px;
  position: relative;
  color: #fff;
  border: none;
  background-color: #000;
  margin-right: 15px;
  z-index: 1;
}

.site-btn.btn-fade {
  background-color: #979797;
}

.site-btn.btn-line {
  background: none;
  border: 2px solid #000;
  color: #000;
  padding: 13px 10px;
}

.site-btn.btn-line:hover {
  color: #000;
}

.site-btn.btn-line-fade {
  background: none;
  border: 2px solid #979797;
  color: #979797;
  padding: 13px 10px;
}

.site-btn.btn-line-fade:hover {
  color: #979797;
}

.site-btn:hover {
  color: #fff;
}

/*===================  Icon Box  ===================*/
.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-box .icon h2 {
  font-size: 60px;
}

.icon-box .icon-box-content {
  padding-left: 25px;
  padding-top: 10px;
}

.icon-box .icon-box-content h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

/*---------------------  Header Section  ---------------------*/
.header-section {
  z-index: 999;
  overflow: hidden;
  position: fixed;
  padding-top: 2rem;
  padding-bottom: 2rem;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.header-logo-area {
  display: block;
  padding-top: 0;
  max-height: 2.5rem;
}

.header-logo {
  width: auto;
  height: 2rem;
}

.main-menu {
  float: right;
  justify-content: right;
  display: block;
}

.main-menu ul {
  list-style: inline;
}

.main-menu ul li {
  display: inline;
}

.main-menu ul li a {
  display: inline-block;
  margin-left: 24px;
  padding: 0;
  border-bottom: none;
  color: #282328;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  vertical-align: middle;
}

.nav-switch {
  display: none;
}

/*---------------------------  WIP  ---------------------------*/
.wip-name {
  padding-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.wip-content {
  padding-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

.wip-content .em-link {
  font-size: .875rem;
  line-height: 1.5rem;
}

.wip-content span {
  color: #898789;
}

/*----------------------  Intro Section  ----------------------*/
.intro-section {
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.intro-title {
  padding-bottom: 3.75rem;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: 0;
}

.intro-title span {
  border-bottom: 4px solid #282328;
}

.intro-body {
  font-size: 1.75rem;
}

/*---------------------Portfolio Section--------------------*/
.portfolio-section {
  overflow: hidden;
  margin-top: 4rem;
}

.portfolio-filter {
  list-style: none;
  padding-bottom: 3rem;
}

.portfolio-filter li {
  font-size: 1rem;
  display: inline-block;
  margin: 0 0.75rem;
  color: #979797;
  cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
  color: #2c2828;
}

.portfolios-area .gallery-block {
  padding: 0;
}

.gallery-block {
  position: relative;
}

.portfolio-thumb {
  display: block;
  width: 100%;
  height: 20rem;
  background-position: center center;
  position: relative;
  margin-bottom: 1.25rem;
}

.portfolio-thumb .pthumb-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-thumb:hover .pthumb-inner {
  background: rgba(255, 255, 255, 0.2);
}

.portfolio-meta {
  padding-bottom: 3rem;
}

.portfolio-meta h2 {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

.portfolio-meta p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #2C2828;
  margin-bottom: 0;
}

.portfolio-intro {
  display: block;
}

.img-popup-warp .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*---------------------------  Work  ---------------------------*/

.hero-image-section {
  overflow: hidden;
  margin-bottom: 6rem;
  height: 30rem;
}

.hero-image {
  width: 100%;
}

.work-intro {
  margin-top: 15rem;
  margin-bottom: 6rem;
}

.work-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.work-subtitle {
  font-size: 1.5rem;
}

.work-inner h2 {
  font-size: 1.75rem;
  padding-bottom: 3.5rem;
}

.work-inner h3 {
  font-size: 1.25rem;
  padding-bottom: 0.75rem;
}

.work-inner h4 {
  font-size: 1.125rem;
  padding-bottom: 0.5rem;
}

.work-inner h6 {
  padding-bottom: 0.5rem;
}

.work-last-para {
  padding-bottom: 1rem;
}

.work-last-para-s {
  padding-bottom: 1rem;
}

.figure-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #898789;
  font-size: .875rem;
  line-height: 1.25rem;
}

.color-banner {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #282328;
}

.color-banner p {
  margin-bottom: 0;
}

.more-projects-section {
  margin-top: 6rem;
}

/*-------------------------Footer Section----------------------*/
.footer-section {
  padding: 4rem 0;
}

.footer-section .copyright {
  font-size: 12px;
  color: #979797;
}

.social-links {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.social-links a {
  color: #2C2828;
  font-size: 1rem;
  margin-right: 30px;
}

.social-links a:last-child {
  margin-right: 0;
}

/*-----------------------------About---------------------------*/
.pic-frame {
  position: relative;
  padding-left: 25px;
  padding-bottom: 25px;
  display: inline-block;
}

.pic-frame:after {
  position: absolute;
  content: "";
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  bottom: 0;
  left: 0;
  border: 2px solid #000;
  z-index: 1;
}

.milestone {
  margin-top: 15px;
}

.milestone h2 {
  font-size: 60px;
}

.milestone h2 span {
  font-size: 18px;
  color: #979797;
}

/*---------------------Blog Page------------------*/
.blog-item {
  margin-bottom: 70px;
}

.blog-item .read-more {
  color: #000;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  line-height: 18px;
  font-size: 18px;
}

.blog-item .read-more:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #000;
}

.thumb {
  margin-bottom: 30px;
}

.blog-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.blog-content .blog-meta {
  font-size: 13px;
  color: #979797;
  margin-bottom: 30px;
}

.blog-content p {
  margin-bottom: 30px;
}

/*------------------------Contact Page--------------------------*/
.contect-tect {
  text-align: center;
  margin-bottom: 70px;
}

.contect-tect h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.contect-tect p {
  font-size: 17px;
}

.contact-form {
  display: block;
  width: 100%;
}

.contact-form input {
  padding-left: 25px;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  font-size: 12px;
}

.contact-form textarea {
  padding-left: 25px;
  height: 200px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  font-size: 12px;
}

.contact-form ::-webkit-input-placeholder {
  font-style: italic;
}

.contact-form :-ms-input-placeholder {
  font-style: italic;
}

.contact-form ::-ms-input-placeholder {
  font-style: italic;
}

.contact-form ::placeholder {
  font-style: italic;
}

/*===================  Accordion  ===================*/
.accordion-area .panel {
  margin-bottom: 30px;
}

.accordion-area .panel-header {
  background: #000;
  color: #fff;
  display: block;
  padding: 12px 50px;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  border: 2px solid #000;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-header.active {
  background: transparent;
  color: #000;
}

.accordion-area .panel-header.active .panel-link:after {
  content: "-";
  color: #000;
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
  content: "+";
}

.accordion-area .panel-link {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.accordion-area .panel-body p {
  font-size: 14px;
  margin-bottom: 0;
  padding-top: 25px;
}

.accordion-area .panel-body {
  padding: 0 5px;
}

.accordion-area .panel-link:after {
  content: "+";
  position: absolute;
  left: 50%;
  font-size: 16px;
  font-weight: 700;
  top: 50%;
  color: #fff;
  line-height: 16px;
  margin-top: -8px;
  margin-left: -4px;
}

/*==========================  Tab  ==========================*/
.tab-element .nav-tabs {
  border-bottom: none;
  margin-bottom: 35px;
}

.tab-element .nav-tabs .nav-link {
  border: 2px solid #000;
  background: #000;
  border-radius: 0;
  padding: 15px 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  min-width: 118px;
  font-size: 16px;
  color: #fff;
}

.tab-element .nav-tabs .nav-item:last-child .nav-link {
  margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
  background: transparent;
  color: #000;
}

.tab-element .tab-pane h4 {
  font-size: 18px;
  margin: 25px 0 20px;
}

.tab-element .tab-pane p {
  font-size: 14px;
}

.circle-progress {
  text-align: center;
  position: relative;
}

.circle-progress canvas {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle-progress .progress-info {
  position: absolute;
  width: 100%;
  top: 30%;
}

.circle-progress .progress-info h2 {
  font-size: 36px;
}

.circle-progress .progress-info p {
  color: #979797;
  font-size: 16px;
  line-height: normal;
}

/*------------------------  Responsive  ------------------------*/
@media only screen and (max-width: 1448px) {

}

/*=================  Medium screen : 992px.  =================*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-thumb {
    height: 16rem;
  }
}

/*=====================  Tablet :768px.  =====================*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .body-pad {
    padding: 0 30px;
  }
  .portfolio-thumb {
    height: 12rem;
  }
}

/*==================  Large Mobile :480px.  ==================*/
@media only screen and (max-width: 767px) {
  .row {
    margin: 0;
  }
  .body-pad {
    padding: 0 15px;
  }
  .main-menu {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 5.5rem;
    padding-top: 16px;
    padding-bottom: 16px;
    display: none;
  }
  .main-menu ul li {
    display: block;
    padding-right: 16px;
    text-align: right;
  }
  .main-menu ul li a {
    padding: 10px 15px;
    display: block;
    font-size: 1.25rem;
  }
  .main-menu ul li:last-child a {
    border-bottom: none;
  }
  .nav-switch {
    position: absolute;
    right: 32px;
    top: 30px;
    font-size: 24px;
    color: #282328;
    display: block;
  }
  .intro-title {
    font-size: 3rem;
    line-height: 4.75rem;
  }
  .intro-body {
    font-size: 2rem;
  }
  .portfolio-filter {
    text-align: left;
  }
  figure {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .hero-image-section {
    overflow: hidden;
    margin-bottom: 4rem;
    height: 12rem;
  }
  .portfolio-thumb {
    height: 12rem;
  }
}

/*=================  small Mobile :320px.  =================*/
@media only screen and (max-width: 479px) {
  .intro-title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .intro-body {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}